# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.GraphicsEditor.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Programming\C#\ВСРПП\Lab3\GraphicsEditor\.idea\.idea.GraphicsEditor.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
